@media (max-width: 600px){
    .container{
        max-width: 400px;
        margin: auto;
    }

    .navbar .links li{
        
        margin-left: 20px;
    }
    
    /* HOME */
    .home .startup-img img{
        width: 400px;
        border-radius: 10px;
        position: relative;
    }
    .startup-content{
        width: 400px;
    }
    .heading a{
        display: none
    }
    .price{
        margin: 5px 0 0 120px;
    }
    .book-now{
        margin-top: 20px;
        margin-left: 130px;
    }

    .startup-desc{
        width: 400px;
    }
    .startup-desc .info{
        margin: 5px 0 0 20px;
        font-size: 14px;
        line-height: 1.5;
    }

    .client{
        width: 400px;
        margin: 20px  0 0 0;
    }
    .client-img img{
        padding-left: 60px ;
        height: 320px;
    }

    /* ABOUT */
    .key-takeaways{
        width: 400px;
    }

    .about .course-overview{
        margin: 20px  0 0 0;
        width: 400px;
        padding: 20px;
        border-radius: 10px;
    }
    .about .course-overview .course-overview-info{
        padding: 20px 20px;
    }
    .about .course-overview ul li{
        padding: 7px;
    }
    .about .course-overview ul li p{
        display: inline-block;
        margin-left: 5px;
        font-size: 14px;
    }
    .about .course-overview ul li span{
        margin-left: 10px;
        font-weight: 500;
    }

    /* MIDDLE */
    .middle .video video{
        width: 400px;
    } 
    .middle .video-info{
        margin: 20px  0 0 0;
        width: 400px;
    }
    .middle .video-info .video-desc p{
        padding: 15px 20px;;
    }

    /* MENTOR */
    .mentor-left{
        width: 400px;
        margin-bottom: 20px;
    }
    .mentor-right{
        margin-left: 0;
    }
    .mentor-right .emc-info p{
        padding: 20px 20px;
        font-size: 14px;
        line-height: 1.5;
    }
    .mentor-right .emc-info ul li{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }
    .mentor-right .emc-info ul li div{ 
        display: inline-block;
        margin-left: 0;
    }

    /* REVIEW */

    .comment{
        margin-top: 30px;
    }
    .comment .comment-pic span{
        margin: 0 0 10px 150px;
    }
    .comment .comment-info{
        margin-left: 10px;
    }
    .comment .comment-info strong{
        font-size: 20px;
    }
    .comment .comment-info span{
        font-size: 14px;
        color: #A1A1A1;
        margin-left: 10px;
    }
    .comment .comment-info p{
        color: #7D7D7D;
        margin-top: 10px;
    }
    .comment .comment-info .comment-like{
        margin: 20px 0 0 0; 
    }
    .comment .comment-info .comment-like i{
        color: #F3164D;
        font-size: 16px;
    }
    .comment .comment-info .comment-like span{
        margin: 0;
        color: #000;
        font-weight: 500;
        padding: 0 0 0px 5px;
    }
    
    .review .btn{
        margin-left: 120px;
        display: inline-block;
    }

    
    /* FOOTER */
    
    footer .footer-left .social-media-icon{
        margin-left: 180px;
    }
    footer .footer-left p{
        margin-top: 10px;
        font-size: 14px;
    }
    footer .footer-right{
        margin-top: 20px;
    }
    footer .footer-right a:nth-child(1){
        color: #FFF;
        margin-left: 0px;
    }
    footer .footer-right a{
        color: #FFF;
        margin-left: 30px;
    }
}