/* COLORS USED
    #F3164D - pink
    #000 - black
    #BBC5D5 - grey
    #F2F4F7 - lightish grey
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.text-center{
    text-align: center;
}

/*******************
content boxes
***************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
padding: 90px 0;
}
.content-box-sm{
    padding: 60px 0;
}
.content-box-xs{
    padding: 30px 0;
}

/* BUTTONS */
.btn{
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
}
.btn1{
    background: #F3164D;
    border: 1px solid #F3164D;
    color: #FFF;
    transition: all .1s ease-in-out;
}
.btn1:hover {
    border: 1px solid #F3164D;
    background-color: transparent;
    color: #505050;
}

/* SHADOW */
.outer-shadow{
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}
.outer-shadow-0{
    box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}
.inner-shadow{
    box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f1f1f1;
}
.shadow{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
}


/* NAVBAR */
.navbar{
    padding: 10px;
}
.logo a{
    font-size: 22px;
    color: #000;
    font-weight: 700;
}
.logo a span{
    color: #F3164D;
}
.navbar .links li{
    display: inline-block;
    margin-left: 40px;
}
.navbar .links li .mentor{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

/* HOME */
.home .startup-img img{
    border-radius: 10px ;
    position: relative;
}
.startup-content{
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
    transform: translateY(-20px);
    /* position: absolute;
    bottom: 70px; */
}
.heading h3{
    padding: 0px 0 0 20px;
    font-size: 18px;
}
.heading .dashed{
    width: 100px;
    height: 2px;
    background-color: #F3164D;
    display: inline-block;
    margin: 10px 180px 0 20px;
}
.heading a{
    font-size: 13px;
    color: #F3164D;
    text-decoration: underline;
    font-weight: 500;
}
.price{
    margin-left: 100px
}
.price .old-price{
    text-decoration: line-through;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.price .discount-price{
    color: #F3164D;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
}
.user,
.calendar,
.clock{
    margin-top: 10px;
}
.user i,
.calendar i,
.clock i{
    color: #BBC5D5;
    font-size: 14px;
    margin-left: 20px;
}
.user a,
.calendar a,
.clock a{
    color: #BBC5D5;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: underline;
}
.book-now{
    margin-left: 20px;
}


.startup-desc{
    padding: 20px;
    width: 700px;
    border-radius: 10px;
}
.startup-desc .heading .dashed{
    width: 100px;
    height: 2px;
    background-color: #F3164D;
    display: inline-block;
    margin: 0 0 0 20px;
}
.startup-desc .info{
    margin: 5px 0 0 20px;
    font-size: 16px;
}

.client{
    width: 350px;
    margin-left: 20px;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
}
.client-img img{
    padding-left: 30px ;
    height: 320px;
}
.client-details h3{
    color: #F3164D;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.client-details h4{
    margin-top: 10px;
    font-size: 16px;
}
.client-details .dashed{
    width: 50px;
    height: 2px;
    background-color: #F3164D;
    display: inline-block;
}
.client-details p{
    font-size: 14px;
    margin: 10px 0 20px 0 ;
}
.client-hobby .biography,
.client-hobby .thriller,
.client-hobby .horror{
    font-size: 14px;
    font-weight: 600;
    background-color: #F2F4F7;
    padding: 5px 10px;
    margin-left: 10px;  
}

/* ABOUT */
 .key-takeaways{
    width: 390px;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;

}
.about .key-takeaways .heading{
    margin-bottom: 10px;
}
.about .key-takeaways .dashed{
    margin: 0;
}

.about .key-takeaways .key-takeaways-info div{
    padding: 10px 0;
}
.about .key-takeaways .key-takeaways-info span{
    height: 10px;
    width: 10px;
    background-color: #F3164D;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}
.about .key-takeaways .key-takeaways-info p{   
    padding: 0 30px;
    display: inline;
    font-size: 14px;
    text-align: left;
}

.about .course-overview{
    margin-left: 20px;
    width: 660px;
    padding: 20px;
    border-radius: 10px;
}
.about .course-overview .dashed{
    margin: 0;
    
}
.about .course-overview .course-overview-info{
    padding: 20px 40px;
    font-size: 14px;
    list-style: 1.5;
}
.about .course-overview ul li{
    padding: 7px;
}
.about .course-overview ul li p{
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}
.about .course-overview ul li span{
    margin-left: 40px;
    font-weight: 500;
}

/* MIDDLE */
.middle{
    margin-top: 20px;
}
.middle .video{
    border-radius: 10px;
}
.middle .video video{
    border-radius: 10px;
} 

.middle .video-info{
    margin-left: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}
.middle .video-info .dashed{
    margin: 0;
}
.middle .video-info .video-desc p{
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.5;
}

/* MENTOR */
.mentor{
    margin-top: 20px;
    margin-bottom: 50px;
}
.mentor-left{
    width: 390px;
    padding: 20px;
    border-radius: 10px;
}
.mentor-left .dashed{
    margin: 0;
}
.mentor-left .mentor-info{
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
}

.mentor-right{
    width: 660px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
}
.mentor-right .dashed{
    margin: 0;
}
.mentor-right .emc-info p{
    padding: 20px 30px;
    font-size: 14px;
    line-height: 1.5;
}
.mentor-right .emc-info ul li{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.mentor-right .emc-info ul li div{ 
    display: inline-block;
    margin-left: 5px;
}

/* REVIEW */
.review .heading h3{
    display: inline-block;
}
.review .heading span{
    color: #F3164D;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #F3164D;
    padding: 1px 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.comment{
    margin-top: 50px;
}
.comment .comment-pic span{
    width: 80px;
    height: 80px;
    background-color: #959595;
    border-radius: 50%;
    display: inline-block;
}
.comment .comment-info{
    margin-left: 20px;
}
.comment .comment-info strong{
    font-size: 20px;
}
.comment .comment-info span{
    font-size: 14px;
    color: #A1A1A1;
    margin-left: 20px;
}
.comment .comment-info p{
    color: #7D7D7D;
    margin-top: 10px;
}
.comment .comment-info .comment-like{
    margin: 40px 0 0 0; 
}
.comment .comment-info .comment-like i{
    color: #F3164D;
    font-size: 16px;
}
.comment .comment-info .comment-like span{
    margin: 0;
    color: #000;
    font-weight: 500;
    padding: 0 0 0px 5px;
}

.btn2{
    border: 1px solid #F3164D;
    color: #505050;
    transition: all .1s ease-in-out;
}
.btn2:hover {
    background: #F3164D;
    color: #FFF;
}
.review .btn{
    margin-top: 30px;
    display: block;
    text-align: center;
}

/* FOOTER */
footer{
    background-color: #000;
    margin-top: 50px;
    padding: 30px;
}
footer .footer-left .logo{
    display: inline-block;
}
footer .footer-left .logo a{
    color: #FFF;
}
footer .footer-left .social-media-icon{
    margin-left: 30px;
}
footer .footer-left span i{
    color: #FFF;
    padding: 10px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #252526;
}
footer .footer-left p{
    color: #FFFFFF80;
    margin-top: 10px;
}
footer .footer-right{
    margin-top: 25px;
}
footer .footer-right a{
    color: #FFF;
    margin-left: 50px;
}